@import 'public';
// logo版块
.logo{
	.logo_con{
		@include size(992px,120px);
		margin: 0 auto;
		h1{
			float: left;
			width: 180px;
		}
		h2{
			float: left;
			font-size: 16px;
			line-height: 120px;
			padding-left: 30px;
			color: #999;
		}
		div{
			float: right;
			height: 120px;
			width: 420px;
			p{
				width: 420px;
				height: 120px;
				background: url(../img/pic-12.jpg) no-repeat center;
			}
		}
	}
}
// 车部分
.main{
	width: 100%;
	overflow : hidden;
	.main_con{
		width: 992px;
		margin : 0 auto;
		.main_con_top{
			@include size(992px,50px);
			border: 1px solid #eee;
			.main_con_top_l{
				float: left;
				@include size(80px,47px);
				margin-left: 20px;
				border-bottom: 3px solid #C80000;
				span{
					line-height: 47px;
					color: #C80000;
					font-size: 16px;
					float: left;
				}
				i{
					color: #FF8200;
					font-size: 16px;
					line-height: 47px;
					float: right;
				}
			}
			.main_con_top_r{
				float: right;
				@include size(200px,50px);
				span{
					float: left;
					line-height: 50px;
					font-size: 12px;
					color: #999;
				}
				a{
					float: right;
					height: 34px;
					margin: 7px;
					border: 1px solid #c1c1c1;
					background: #f9f9f9;
					font-size: 12px;
					color: #666;
					line-height: 34px;
					padding: 0 20px;
					cursor: pointer;
				}
			}
		}
		.main_bottom{
			table{
				width: 992px;
				border:1px solid #eee;
				tr:nth-of-type(1){
					background: #f9f9f9;
					td{
						height: 40px;
					}
				}
				td{
					border: 0;
					text-align: center;
					color: #7f7f7f;
					font-size: 12px;
				}
				tr:nth-of-type(2){
					td:nth-of-type(1){
						img{
							@include size(70px,70px);
							margin: 30px;
							margin-left: 100px;
							float: left;
						}
						span{
							line-height: 130px;
							color: #333;
							font-size: 12px;
						}
					}
					td:nth-of-type(2){
						line-height: 130px;
						font-size: 12px;
						color: #333;
					}
					td:nth-of-type(3){
						span{
							float: left;
							font-size: 12px;
							font-weight: bold;
							@include size(20px,20px);
							line-height:20px;
							text-align: center;
							cursor: pointer;
						}
						input{
							float: left;
							@include size(40px,20px);
							font-size: 16px;
							color: #333;
							text-align: center;
							line-height: 20px;
						}
					}
					td:nth-of-type(4){
						color: #C80000;
						span{
							padding: 5px;
							cursor: pointer;
						}
						
					}
					td:nth-of-type(5){
						span{
							padding: 5px;
							cursor: pointer;
							color: #333;
						}
					}
				}
			}
		}
	}
}


// 主体下面板块
.main_f{
	background : #F2F2F2;
	overflow: hidden;
	height: 80px;
	.main_foot{
		width: 1196px;
		height: 38px;
		margin: 21PX auto;
		p{
			float: left;
			width: 248px;
			padding-left: 50px;
			line-height:38px;
			span{
				float: left;
				width: 38px;
				height: 38px;
				background: url(../img/main1_03.jpg) no-repeat;
				background-size: cover;	
			}
			a{
				float: left;
				line-height: 38px;
				font-size: 16px;
				color: #666666;
				margin-left: 20px;
			}
			a:hover{
				color: #529bef;
			}
		}
		p:nth-of-type(2){
			span{
				background: url(../img/main2_03.jpg) no-repeat;
				background-size: cover;	
			}	
		}
		p:nth-of-type(3){
			span{
				background: url(../img/main3_03.jpg) no-repeat;
				background-size: cover;	
			}	
		}
		p:nth-of-type(4){
			span{
				background: url(../img/main4_03.jpg) no-repeat;
				background-size: cover;	
			}	
		}
	}
}
	



