@import 'public';
.logo{
	height: 120px;
	// 头部版心
	.logo_con{
		width: 1196px;
		height: 120px;
		margin: 0 auto;
		// logo
		h1{
			float: left;
		}
		// 搜索框版块
		.search{
			float: left;
			width: 600px;
			margin-top: 30px;
			height: 64px;
			margin-right : 20px;
			// 输入框版块
			.sr-btn{
				width: 600px;
				height: 40px;
				// 输入框
				.txt{
					float: left;
					height: 36px;
					width: 462px;
					padding-left: 14px;
					border: 2px solid #2884c7;
					font-size: 14px;
					color: #999;
				}
				// 搜索按钮
				.btn{
					float: left;
					width: 120px;
					height: 40px;
					background-color: #2884c7;
					font-size: 18px;
					color: #fff;
					text-align: center;
					border: 0;
					cursor: pointer;
					letter-spacing: 10px; 
				}
			}
			// 提示文字
			p{
				a{
					display: inline-block;
					font-size: 12px;
					line-height: 24px;
					color: #2884c7;
					margin-right: 15px;
				}
			}
		}
		// 购物车
		.cart{
			float: left;
			margin-top: 30px;
			border: 1px solid #ddd;
			height :38px;
			a{
				display: block;
				width: 120px;
				height: 38px;
				background: url(../img/cart_bj1_03.jpg) no-repeat center;
				background-size: cover;
			}
			a:hover{
				background: url(../img/cart_bj_03.jpg) no-repeat center;
				background-size: cover;
			}
		}
		// 二维码
		.two_code{
			float: right;
			height:120px;
			p{
				position:relative;
				img{
					display: block;
					width: 90px;
					height: 100px;
					margin-top: 10px;
				}
				span{
					display: block;
					width: 14px;
					height: 14px;
					background: url(../img/logo3_03.jpg) no-repeat center;
					background-size: cover;
					
					position: absolute;
					top: 0 ;
					right: -14px;
					cursor: pointer;
				}
			}	
		}
	}
}

.serve{
	height: 40px;
	overflow: hidden;
	.serve_con{
		@include size(1196px,40px);
		margin: 0 auto;
		ul{
			float: left;
			margin-left : 20px;
			li{
				float: left;
				width: 100px;
				height: 40px;
				line-height: 40px;
				text-align : center;
				a{
					color: #333;
					font-size: 16px;
				}
				a:hover{
					color: #529bef;
				}
			}
		}
		.online_serve{
			float: right;
			margin-right: 20px;
			width: 100px;
			a{
				color: #333;
				font-size: 16px;
				line-height: 40px;
			}
			a:hover{
				color: #529bef;
			}
		}
	}
}
.main{
	width : 100%;
	.main_con{
		width: 1196px;
		margin: 0 auto;
		overflow: hidden;
		h2{
			height: 40px;
			font-size : 12px;
			color : #333;
			a{
				display: block;
				float: left;
				width: 40px;
				line-height: 40px;
				text-align: center;
				font-size: 12px;
				color: #333;
			}
			span{
				margin: 0 10px;
				line-height: 40px;
				font-size: 12px;
				color: #333;
			}
		}
		.main_con_l{
			@include size(448px,540px);
			float: left;
			.main_con_l_top{
				@include size(446px,446px);
				border : 1px solid #eee;
				// position: relative;
				ul{
					li{
						position: absolute;
						img{
							@include size(446px,446px)
						}
					}
					li:nth-of-type(1){
						z-index: 1;
					}
				}	
			}
			.main_con_l_bottom{
				@include size(448px,72px);
				padding-top: 20px;
				span{
					display: block;
					width: 35px;
					height: 70px;
					float: left;
					background: #999 url(../img/2a7f8349-14f0-42e1-afe8-7ae8afd54e1e.png) no-repeat left center;
					background-size: cover;
					cursor: pointer;
				}
				ul{
					@include size(370px,70px);
					float: left;
					overflow: hidden;
					li{
						@include size(68px,68px);
						float: left;
						margin-left : 10px;
						border: 1px solid #fff;
						img{
							@include size(68px,68px);
							
						}
					}
				}
				.rt_btn{
					float: right;
					background: #999 url(../img/cae7b801-0fe6-4691-ba99-239ba9d11576.png) no-repeat right center;
					background-size: cover;
				}
			}
		}
		.main_con_r{
			@include size(720px,540px);
			float: right;
			ul{
				width: 100%;
				li:nth-of-type(1){
					font-size : 20px;
					color : #000;
					font-weight : bold;
					line-height : 36px;
					span{
						font-size: 12px;
						color: #fff;
						display: block;
						@include size(70px,20px);
						float: left;
						font-weight: bold;
						background: #F01E00;
						margin-right: 5px;
						line-height: 20px;
						text-align: center;
						margin-top: 8px;
						border-radius: 3px;
					}
				}
				li:nth-of-type(2){
					height: 26px;
					a{
						font-size: 12px;
						color: #333;
						line-height: 26px;
						float: right;
					}
				}
				li:nth-of-type(3){
					@include size(100%,60px);
					background :#F9F9F9;
					span{
						line-height: 60px;
						color: #888888;
						font-size: 12px;
						padding-left: 10px;
					}
					i{
						font-size: 18px;
						line-height: 60px;
						color: #C80000;
						padding-left: 30px;
					}
				}
				li:nth-of-type(4){
					span{
						line-height: 32px;
						color: #888888;
						font-size: 12px;
						padding-left: 10px;
						padding-right: 5px;
					}
					a{
						font-size: 12px;
						line-height: 36px;
						color: #333;
						padding-left: 5px;
					}
				}
				li:nth-of-type(5){
					font-size : 12px;
					color : #333;
					span{
						line-height: 24px;
						color: #FF8C00;
						font-size: 12px;
						padding-left: 68px;
						padding-right: 10px;
					}
				}
				li:nth-of-type(6){
					height: 57px;
					border-top: 1px solid #eee;
					span{
						line-height: 56px;
						color: #888888;
						font-size: 12px;
						padding-left: 10px;
						padding-right: 34px;
					}
					a{
						display: inline-block;
						@include size(120px,32px);
						line-height: 32px;
						text-align: center;
						font-size: 12px;
						color: #C80000;
						border: 1px solid #C80000;
						border-radius: 4px;
					}
				}
				li:nth-of-type(7){
					@include size(100%,50px);
					background: #F9F9F9;
					span{
						line-height: 50px;
						color: #888888;
						font-size: 12px;
						padding-left: 10px;
						padding-right: 18px;
					}
					i{
						font-size: 18px;
						line-height: 50px;
						color: #C80000;
					}
					a{
						float: right;
						@include size(150px,50px);
						background: #C80000;
						font-size: 18px;
						color: #fff;
						text-align: center;
						line-height: 50px;
					}
				}
			}
		}
	}
}
// 商品介绍版块
.introduct{
	height: 52px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	position : sticky;
	top : 0;
		background : #fff;
	.introduct_con{
		width: 1196px;
		margin: 0 auto;
		
		
		ul{
			li{
				float: left;
				width: 120px;
				a{
					display: block;
					@include size(64px,48px);
					text-align: center;
					line-height: 48px;
					border-bottom: 4px solid #fff;
					color: #333;
					font-size: 16px;
				}
				a:hover{
					color: #C80000;
					border-color: #C80000;
				}
			}
		}
	}
}
// 图片版块
.pic{
	padding-top : 20px;
	.pic_con{
		width: 1196px;
		margin: 0 auto;
		img{
			width: 1196px;
		}
	}
}

// 文本版块
.text{
	padding-top : 20px;
	.text_con{
		@include size(1230px,80px);
		margin: 0 auto;
		border: 1px solid #eee;
		dl{
			margin-left: 30px;
			height: 80px;
			dt{
				font-size: 16px;
				line-height: 40px;
				color: #d80c18;
			}
			dd{
				font-size: 12px;
				color: #333;
				line-height: 20px;
			}
		}
	}
}
// 主体下面板块
.main_f{
	background : #F2F2F2;
	overflow: hidden;
	height: 80px;
	.main_foot{
		width: 1196px;
		height: 38px;
		margin: 21PX auto;
		p{
			float: left;
			width: 248px;
			padding-left: 50px;
			line-height:38px;
			span{
				float: left;
				width: 38px;
				height: 38px;
				background: url(../img/main1_03.jpg) no-repeat;
				background-size: cover;	
			}
			a{
				float: left;
				line-height: 38px;
				font-size: 16px;
				color: #666666;
				margin-left: 20px;
			}
			a:hover{
				color: #529bef;
			}
		}
		p:nth-of-type(2){
			span{
				background: url(../img/main2_03.jpg) no-repeat;
				background-size: cover;	
			}	
		}
		p:nth-of-type(3){
			span{
				background: url(../img/main3_03.jpg) no-repeat;
				background-size: cover;	
			}	
		}
		p:nth-of-type(4){
			span{
				background: url(../img/main4_03.jpg) no-repeat;
				background-size: cover;	
			}	
		}
	}
}
	



